p.link-roundup {
	background:url('../img/link-roundup-icon.png') no-repeat 0px 3px;
	display:block;
	padding-left:27px;
	margin-bottom:10px;
	vertical-align:top;
	padding-top:0px;
}
.wp-editor p.link-roundup {
	background-position: 0px 1px;
}

p.link-roundup a {
	font-weight:bold;
	text-decoration:none;
	vertical-align:top;
}
p.link-roundup em {
	color:#808080;
}
div.display-argo-links div.pagination {
	height:30px;
}
div.display-argo-links div.pagination span, div.display-argo-links div.pagination a {
    background: none repeat scroll 0 0 #E8E8E8;
    border: 1px solid #000;
    border-radius: 3px 3px 3px 3px;
    color: #000;
    margin: 0 2px;
    padding: 4px 7px;
    text-decoration: none;
}
div.display-argo-links div.pagination .current {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #C7C7C7;
}
.widget.argo-links h5 {
  margin-bottom: 2px;
  padding: 0 3px;
  font-size: 16px;
}
.widget.argo-links p {
  font-size: 10.672px;
  margin-bottom: 12px;
}
.widget.argo-links p.description {
  margin-bottom: 2px;
}
.widget.argo-links p.source span {
  font-style: italic;
}
