/* ==========================================================================
Modal
========================================================================== */
.lroundups-modal {
  position: fixed;
  width: 500px;
  min-height: 180px;
  background: #fafafa;
  border: 1px solid #ccc;
  top: 100px;
  left: 50%;
  margin-left: -250px;
  display: none;
  z-index: 10000;
  box-shadow: 0 1px 12px #999;
  border-radius: 4px;
}

.lroundups-modal-header {
  background: #eee;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ddd;
}
.lroundups-modal-close {
  float: right;
  margin: 10px;
  color: #555;
}
.lroundups-modal-close:hover {
  color: #222;
  cursor: pointer;
}

.lroundups-modal-content,
.lroundups-modal-actions {
  padding: 10px;
  float: left;
  clear: both;
  width: 480px;
}
.lroundups-modal-content {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 20px;
}
.lroundups-modal-actions {
  bottom: 0;
  position: absolute;
  text-align: right;
  border-top: 1px solid #eee;
  .spinner {
    display: none;
  }
}

#lroundups-modal-overlay {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: none;
}

body.lroundups-modal-open .lroundups-modal {
  display: none;
}
body.lroundups-modal-open .lroundups-modal.show,
body.lroundups-modal-open #lroundups-modal-overlay {
  display: block;
}

.lroundups-error-modal strong {
  color: #a00;
}

/* ==========================================================================
Create MailChimp Campaign Button
========================================================================== */
#link-roundups-publish-actions {
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
  input[type="submit"] {
    display: inline-block;
    margin: 10px auto;
  }
}
