/* TinyMCE Inline Editable Blocks */
.lr-block {
  border: 1px solid transparent;
  text-align: center;
  background: #eee;
  padding: 4px;
  border: 1px solid #ddd;
  font-weight: bold;
  font-size: 1em;
}
.lr-block:hover {
  border: 1px solid #ccc;
  background: #ddd;
  cursor: pointer;
}
