/* ==========================================================================
Link Roundups Saved Link Paragraph Wrapper Style
========================================================================== */
p.lr-saved-link {
  float: left;
  display: block;
  vertical-align: top;
  width: 100%;
  a {
    font-weight: bold;
    text-decoration: none;
    vertical-align: top;
  }
  em {
    color: #808080;
  }
  img {
    float: left;
    margin: 0 1em 1em 0;
  }
  &.sponsored {
    background-color: #EDF1F4;
    font-style: italic;
    color: #808080;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0.2em 0;
  }
}

.wp-editor p.lr-saved-link {
  background-position: 0px 1px;
}


/* ==========================================================================
Saved Links Widget
========================================================================== */
.widget.saved-links {
  h5 {
    margin-bottom: 2px;
  	font-weight:700;
  }
  p {
    margin-bottom: 12px;
    .description {
      margin-bottom: 2px;
    }
    .source span {
      font-style: italic;
    }
    &.morelink {
	  clear: both;
    }
  }
  div.post-lead {
    float: left;
    img {
      float: left;
      margin: 0 1em 1em 0;
    }
  }
}

// fix for display of checkbox in header of saved links admin box
.wp-list-table.lroundups-links {
  tfoot td,
  thead td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    input {
      margin-left: 8px;
    }
  }
  thead td {
    border-bottom: 1px solid #e1e1e1
  }
  tfoot td {
    border-top: 1px solid #e1e1e1
  }
}
